{% extends 'base.html' %}

{% block content %}<div class="row">
<div class="card-group">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Thrrisveeta Kaur Gill</h5>
      <p class="card-text">
        My name is Thrrisveeta Kaur Gill.  My matric number is D022010121.  I'm from S2K1. My hobby is drawing and reading novels.  Drawing makes me calm and reading makes my mind wonder.
      </p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Eric Saw Jia Yi</h5>
      <p class="card-text">
        My name is Eric Saw Jia Yi.  My matric number is D022010070.  I'm from S1K1. My hobby is playing badminton and reading novels.  Playing badminton helps me to relieve stress and reading open my mind.
      </p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Tan Shao Xiang</h5>
      <p class="card-text">
        My name is Tan Shao Xiang.  My matric number is D022010007.  I'm from S1K1. My hobby is jogging and reading novels.  Jogging helps me to build up my stamina and reading helps me to relieve stress.
      </p>
    </div>
  </div>
</div>
{% endblock %}

